@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="@Url.Content("~/Content/Views/InserirAtendimento/Index.css?" + DateTimeOffset.Now)" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/Views/InserirAtendimento/Index.js?" + DateTimeOffset.Now)"></script>
}

<div class="cssInserirAtendimentoIndex_Filtro">
    <h1 class="cssInserirAtendimentoIndex_Label">Filtros</h1>
    <button id="btnInserirAtendimentoIndex_Accordion">
        <img class="cssAberto" src="@Url.Content("~/Content/Imagens/InserirAtendimento/add.png")" />
    </button>
</div>
<div class="cssInserirAtendimentoIndex_Filtro_Container">
    <form id="frmInserirAtendimentoIndex_Filtro" class="needs-validation">
        <div class="form-row">
            <div class=" col-sm-5">
                <label class="cssInserirAtendimentoIndex_lblFiltros" for="txtInserirAtendimentoIndex_CPF">CPF</label>
                <input type="text" class="form-control" id="txtInserirAtendimentoIndex_CPF" aria-describedby="emailHelp" placeholder="Digite o CPF" required>
            </div>
            <div class="col-sm-7">
                <label class="cssInserirAtendimentoIndex_lblFiltros" for="txtInserirAtendimentoIndex_Nome">Nome</label>
                <input type="text" class="form-control" id="txtInserirAtendimentoIndex_Nome" placeholder="Digite o nome" required>
            </div>
        </div>
        <br />
        <button id="btnInserirAtendimentoIndex_Procurar" type="button" class="btn btn-primary">Procurar</button>
    </form>
</div>


<div id="divInserirAtendimentoIndex_Container">
    <div id="divInserirAtendimentoIndex_Especialidade" class="cssInserirAtendimentoIndex_Box">
        <label class="cssInserirAtendimentoIndex_Box_Label" for="txtInserirAtendimento_NrProntuario">Número Prontuário:</label>
        <input type="text" class="cssInserirAtendimentoIndex_Box_Componente form-control" id="txtInserirAtendimento_NrProntuario">
    </div>
    <div id="divInserirAtendimentoIndex_Especialidade" class="cssInserirAtendimentoIndex_Box">
        <label class="cssInserirAtendimentoIndex_Box_Label" for="cboInserirAtendimentoIndex_Especialidade">Especialidade:</label>
        <select class="cssInserirAtendimentoIndex_Box_Componente form-control" id="cboInserirAtendimentoIndex_Especialidade">
            <option></option>
        </select>
    </div>
    <div class="cssInserirAtendimentoIndex_Box">
        <label class="cssInserirAtendimentoIndex_Box_Label" for="cboInserirAtendimentoIndex_TipoAtendimento">Tipo de Atendimento:</label>
        <select class="cssInserirAtendimentoIndex_Box_Componente form-control" id="cboInserirAtendimentoIndex_TipoAtendimento">
            <option></option>
        </select>
    </div>
    <div class="cssInserirAtendimentoIndex_Box cssInserirAtendimentoIndex_TextArea">
        <label class="cssInserirAtendimentoIndex_Box_Label cssInserirAtendimentoIndex_TextArea_Label" for="txtInserirAtendimento_Observacoes">Observações:</label>
        <textarea class="form-control" id="txtInserirAtendimento_Observacoes" rows="3"></textarea>
    </div>
    <div class="cssInserirAtendimentoIndex_Box_Botoes">
        <button id="btnIndex_Limpar" type="button" class="btn btn-primary" onclick="InserirAtendimento_Index.Limpar()">Limpar</button>
        <button id="btnIndex_Salvar" type="button" class="btn btn-primary" onclick="InserirAtendimento_Index.Salvar()">Registrar Atendimento</button>
    </div>
    <script type="text/template" data-template="tmpInserirAtendimento_Option">
        <option key_expr="${value}">${name}</option>
    </script>
</div>